* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f8f2;
    color: #234
}

header {
    background: #2e7d32;
    color: white;
    padding: 25px;
    text-align: center
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none
}

section {
    padding: 50px 10%;
    text-align: center
}

.hero {
    background: #dcedc8
}

h2 {
    color: #2e7d32
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap
}

.card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 260px;
    box-shadow: 0 5px 15px #bbb
}

footer {
    background: #1b5e20;
    color: white;
    text-align: center;
    padding: 25px
}